<p style="color: green"><%= notice %></p>

<h1>Posts</h1>
<% if  user_signed_in? %>
  <%= link_to current_user.email, edit_user_registration_path %>
  <%= button_to "Logout", destroy_user_session_path, method: :delete, data: {turbo_method: :delete}, class: "button is-danger" %>

<% end %>
<div id="posts">
  <% @posts.each do |post| %>
    <%= render post %>
    <p>
    <%= link_to "Show this post", post %>
    </p>
  <% end %>
</div>

<%= link_to "New post", new_post_path, class: "button is-primary" %>
